html {

	padding: 0;
	margin: 0;
	height: 100%;

}

div.anim-table {

	width: calc(100% - 10px);
	padding: 5px;
	min-height: 40px;

}

.label {
	color: #FFF;
	font-family: sans-serif;
	padding: 2px;
	background: rgba( 0, 0, 0, .6 );
}

div.anim-table table {

	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	font-size: 12px;
	color: #fff;
	text-align: center;

}

div.anim-table table span {

	display: block;
	padding-top: 2px;

}

div.anim-table table td.val {
	
	font-weight: bold;

}

div.anim-table table td.dash {

	/*border-bottom-style: dashed;*/
	border-bottom-color: #a9a9a9;

}

div.anim-table table td.dash-x {

	border-bottom-color: rgba(255, 0, 0, 0.5);

}

div.anim-table table td.dash-y {

	border-bottom-color: rgba(0, 255, 0, 0.5);

}

div.fill {

	width: 100%;
	height: 100%;
	overflow-y: scroll;

}

body {

	padding: 0;
	margin: 0;
	height: 100%;
	background-color: #262626;

}

main {

	width: 100%;
	height: 100%;
	--header-height: 34px;

}

header {

	width: 100%;
	height: var(--header-height);

}

header table {

	width: 100%;
	height: 100%;
	table-layout: fixed;
	border-collapse: collapse;

}

header table td {

	border-bottom: 1px solid #ccc;

}

header table td.title {

	width: 120px;
	border-right: 1px solid #fff;

}

header table td.title h1 {

	padding : 0;
	margin: 0;
	font-size: 16px;
	color: #fff;
	text-indent: 10px;

}

header table td.title h1 {

	padding : 0;
	margin: 0;
	font-size: 16px;
	color: #fff;
	text-indent: 10px;

}

header table td.select {

	width: 310px;

}

header table td.select select {

	border: 1px solid #fff;
	background-color: transparent;
	width: 90%;
	color: #fff;
	display: block;
	margin: auto;

}

header table td.octo {

	width: 80px;
	text-align: right;
	color: #fff;
	font-size: 15px;
	padding-right: 10px;

}

header table td.tab {

	width: 100px;
	color: #fff;
	text-align: center;
	font-size: 15px;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;

}

header table td.tab:hover {

	background-color: rgba(255, 255, 255, 0.1);
	cursor: pointer;

}

header table td.tab.active {

	background-color: rgba(255, 255, 255, 0.1);
	border-bottom: none;

}

section {

	height: calc(100% - 34px);
	background-color: rgba(255, 255, 255, 0.1);
	position : relative;

}

article {

	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: none;

}

article.open {

	display: block;

}

article div.skeleton-widget {

	width: calc(400px - 1px);
	border-left: 1px solid #fff;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	overflow-y: scroll;

}

article div.skeleton-widget div.padding {

	height: 4px;

}

article div.skeleton-widget h3 {

	padding: 10px 0;
	margin: 0;
	font-size: 16px;
	text-align: center;
	color: #fff;

}

article div.skeleton-widget table {

	width: calc(100% - 4px);
	table-layout: fixed;
	border-collapse: collapse;
	font-size: 14px;
	color: #fff;
	margin-left: 2px;

}

article div.skeleton-widget table th {

	border-bottom: 1px solid #f8f8f8;
	border-right: 1px solid #f8f8f8;
	border-top: 1px solid #f8f8f8;
	padding-top: 4px;
	padding-bottom: 4px;

}

article div.skeleton-widget table tr td:first-child,
article div.skeleton-widget table tr th:first-child {

	border-left: 1px solid #f8f8f8;

}

article div.skeleton-widget table th.num {

	width: 54px;

}

article div.skeleton-widget table td {

	border-right: 1px solid #f8f8f8;
	border-bottom: 1px solid #f8f8f8;
	padding-top: 3px;
	padding-botom: 3px;

}

article div.skeleton-widget table td.num {

	text-align: center;

}

article div.skeleton-widget table td.name {

	text-indent: 5px;

}

article div.preview-widget {
	
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	width: calc(100% - 400px);
	height: 100%;

}

article div.preview-widget div.legend {

	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
	pointer-events: none;
	padding: 4px;
	color: #fff;
	font-size: 14px;
	font-family: monospace;

}

article div.preview-widget div.legend li {

	list-style: none;
	padding: 4px 0;
	position: relative;
	text-indent: 20px;

}

article div.preview-widget div.legend li:before {

	content: "";
	position: absolute;
	width: 8px;
	height: 8px;
	border-radius: 100%;
	left: 2px;
	top: 8px;
	background-color: #fff;

}

article div.preview-widget div.legend li.a:before {

	background-color: #ff0;

}

article div.preview-widget div.legend li.b:before {

	background-color: #00f;

}

article div.preview-widget div.legend li.c:before {

	background-color: #f00;

}

article div.preview-widget div.legend li.d:before {

	background-color: #0f0;

}

article div.export {

	position :absolute;
	right: 420px;
	top: 0;
	color: #fff;
	font-size: 15px;
	padding-top: 5px;
	padding-right: 5px;
	z-index: 5;

}

article div.export:hover {

	cursor: pointer;
	text-decoration: underline;

}

article div.overflow {

	width: calc(100% - 400px);
	height: 100%;
	overflow-y: scroll;

}

article div.overflow pre {

	font-size: 14px;
	font-family: monospace;
	color: #fff;
	padding: 10px;
	margin: 0;

}
